//color-background
$color-first: rgb(255, 255, 255);
$color-second:rgb(250, 246, 240);

//color-text
$color-text-1: rgb(255, 255, 255);
$color-text-2: rgb(29, 29, 29);
$color-text-3: rgb(190, 161, 95);
$color-text-3: rgb(245, 238, 227);

$Cinzel:'Cinzel', serif;
$Frank: 'Frank Ruhl Libre', serif;
$Open: 'Open Sans', sans-serif;