@media only screen and (max-width: 480px) {
    .header {
        flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne */
        justify-content: center; /* Centrer les éléments */
    }
    
    .header__navigation {
        margin: 10px 0; /* Ajuster la marge pour les téléphones */
        flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne */
        justify-content: center; /* Centrer les éléments */
        li {
            margin: 5px; /* Ajuster la marge pour les téléphones */
        }
    }
    
    .header__decal-links {
        margin: 10px 0; /* Ajuster la marge pour les téléphones */
        justify-content: center; /* Centrer les éléments */
    }
    
    .header__logo {
        margin-bottom: 10px; /* Ajouter une marge en bas pour les téléphones */
    }

    .btn{
        display: none;
    }


    .first_section{
        .first_section_txt{
            
            h1{
                color: red;
                width: 50px;
                position: relative;
                left: -150px;
                font-weight: 100;
                text-transform: uppercase;
            }
            p{
                margin-top: 25px;
                font-size: 20px;
            }
        }
    }

    .section__hero{
        .section_hero_txt{
            position: relative;
            top: 250px;
            margin-left: -100px;

            h1{
                font-size: 80px;
            }
        }
    }

    .first_section_txt {
        h1:before {
            display: none;
        }
    }

    .aboutus .aboutus__img{
        .aboutus__midle__image{
            width: 70%; /* Adjust the width as desired for smaller screens */
            top: -150px; /* Reset the top positioning for smaller screens */
            // left: -25px;
        }
        .aboutus__right__image{
            display: none;
        }
        .aboutus__left__image{
            display: none;
        }
    }
}