@import "../Base/mixin.scss";
@import "../Base/variables.scss";

.footer {
    background-image: url("../images/img/footer/img-ng-footer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: $color-first;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    gap: 3em; 
    
}
    .footer__header {
        padding: 3em;

    }

    .footer__body {
        display: inline-block;
        display: flex;
        justify-content: space-between;
        column-gap: 6em;
        
        &__list {
            display: flex;
            flex-direction: column;
            line-height: 2.5em;
            

            h2 {
                color: $color-first;
                font-size: 2em;
                font-size: $Cinzel;
            }
            
            li, p {
                font-family: $Open;
                color: #b3b3b3;
                font-size: 16px;
            }

            #email-input {
                display: inline-block;
                width: 100%;
                margin-top: 1.5em;
                white-space: nowrap;

                input {
                    width: 15em;
                    height: 3rem;
                    border:  none;
                    padding: 1em;
                }
                button {
                    position: relative;
                    margin-left: -0.7em;
                    height: 100%;
                    width: 3rem;
                    height: 3rem;
                    background-color: $color-text-3;
                    border: none;

                  &:hover {
                    background-color: #b3b3b3;
                }  
            }
        }
    }
}

    .footer__legal {

        display: flex;
        justify-self: center;
        justify-content: space-between;
        width: 70%;
        border-top: 1px solid rgba(255, 255, 255, 0.253);
        padding-top: 2em ;
        
        &__text {

                font-size: 16px;
                font-family: $Open;
                color: #b3b3b3;
            }
        

            span {
            color: $color-text-3;
        }
        

        &__logo {
            position: relative;
            width: 80px;
            right: 200px;
        }
        
        .footer__legal__list {
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 0.8em;

            

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 20px;
                font-size: 1rem;
                color: #ffffff;
                background-color: rgb(67,67,67);
                

            &:hover {
                color: white;
                background-color: $color-text-3;
            }
        }
    }
}
@media all and (max-width: 700px){

    .footer {
        height: auto;
        width: 80vw;
    }

    .footer__body{
        display: flex;
        flex-direction: column;
    }
    
}
.footer__legal{
    display: flex;
    flex-direction: column;
    justify-content: center;



    &__container-logo {
    position: relative;
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: 5em;
    }

    .footer__legal__logo {
        left: 0;
        right: 0;
    }
    //a décaler dans 480px.scss
}





