@import "../Base/mixin.scss";
@import "../Base/variables.scss";

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;

    &__title {
        @include Center();
        position: relative;
        top: -100px;
        flex-direction: column;
        font-family: $Cinzel;
        width: 100%;

        h1 {
            margin-top: 50px;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 50px;
            
            &:before {
                content: "OUR BLOG";
                position: absolute;
                top: -50px;
                left: -15%;
                color: rgb(209, 193, 167);
                padding: 10px 20px;
                font-size: 200px;
                letter-spacing: 2px;
                opacity: 0.25;
              }
        }       
    }

    &__blog {
        width: 100%;
        position: relative;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &__card {
            display: flex;
            flex-direction: column;
            background-color: rgb(250, 246, 240);
            margin: 0.5em;
            

            &__top {
                padding-bottom: 1em;
                .people{
                    width: 100%;
                }

                .legend{
                    padding-top: 1em;
                    padding-left: 4em;

                    cite {
                        padding-right: 50px;
                    }

                    .logo {
                        width: 1em;
                        height: 1em;
                    }
                } 
            }

            &__bottom {
                padding-left: 4em;
                padding-bottom: 2em;

                p {
                    font-size: 20px;
                    line-height: 30px;
                    padding-bottom: 2em;
                }

                button {
                    cursor: pointer;
                    border: none;
                    height: 50px;
                    width: 150px;
                    background-color: $color-first;
                    font-size: 20px;

                }
                button:hover {
                    background-color: $color-text-3;
                    color: $color-first;

                }

            }
        }
    }
    &__brands {
        padding-top: 2em;
        
        li {
            display: inline;
            padding-left: 4em;
        
        }
    }
}