@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*Components*/
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 150px;
  background-color: black;
  z-index: 10;
}

.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.header__navigation li {
  margin: 0px 25px;
}
.header__navigation li a {
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.header__navigation li a:hover {
  color: orange;
}

.header__decal-links {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.header__decal-links .btn {
  margin-left: 20px;
  padding: 15px 30px;
  background-color: rgb(245, 185, 73);
  border-radius: 9px;
  color: white;
  font-weight: 600;
}
.header__decal-links .btn i {
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.header__decal-links .header__decal {
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-left: 40px;
}
.header__decal-links .header__decal i {
  color: orange;
  font-size: 20px;
  margin: 10px;
}

.section__hero {
  height: 85vh;
  background-color: rgb(22, 22, 22);
  color: white;
  min-width: 100%;
  font-family: "Cinzel", serif;
}
.section__hero .section_hero_img {
  position: relative;
  top: 10%;
  left: 2%;
}
.section__hero .section_hero_txt {
  position: relative;
  top: 15%;
  left: 150px;
  float: left;
}
.section__hero .section_hero_txt h1 {
  font-size: 110px;
}
.section__hero .section_hero_txt a {
  position: relative;
  top: 35px;
  color: white;
  padding: 15px 30px;
  border: 2px solid white;
  transition: all 0.2s;
}
.section__hero .section_hero_txt a i {
  position: relative;
  top: 2px;
  margin-left: 15px;
  color: white;
}
.section__hero .section_hero_txt a:hover {
  border: 2px solid orange;
}

.first_section {
  height: 100vh;
  background-color: rgb(245, 238, 227);
}
.first_section .first_section_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Frank Ruhl Libre", serif;
  top: 150px;
}
.first_section .first_section_txt h1 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 50px;
}
.first_section .first_section_txt p {
  margin-top: 25px;
  font-size: 20px;
}

/*Mobile*/
@media only screen and (max-width: 480px) {
  .header {
    flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne */
    justify-content: center; /* Centrer les éléments */
  }
  .header__navigation {
    margin: 10px 0; /* Ajuster la marge pour les téléphones */
    flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne */
    justify-content: center; /* Centrer les éléments */
  }
  .header__navigation li {
    margin: 5px; /* Ajuster la marge pour les téléphones */
  }
  .header__decal-links {
    margin: 10px 0; /* Ajuster la marge pour les téléphones */
    justify-content: center; /* Centrer les éléments */
  }
  .header__logo {
    margin-bottom: 10px; /* Ajouter une marge en bas pour les téléphones */
  }
  .btn {
    display: none;
  }
  .first_section .first_section_txt h1 {
    color: red;
    width: 50px;
    position: relative;
    left: -150px;
    font-weight: 100;
    text-transform: uppercase;
  }
  .first_section .first_section_txt p {
    margin-top: 25px;
    font-size: 20px;
  }
  .section__hero .section_hero_txt {
    position: relative;
    top: 250px;
    margin-left: -100px;
  }
  .section__hero .section_hero_txt h1 {
    font-size: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
