@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*img background*/
/*Components*/
/*img background*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.header__navigation li {
  position: relative;
  margin: 0px 25px;
}
.header__navigation li a {
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 1px;
  transition: all 0.3s;
  position: relative;
}
.header__navigation li a .arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-bottom: 3px;
  padding: 3px;
}
.header__navigation li a .arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.header__navigation li a .arrow:hover {
  border-color: orange;
}
.header__navigation li a:hover {
  color: orange;
}
.header__navigation li .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  z-index: 1;
}
.header__navigation li .dropdown-menu li {
  position: relative;
  top: 20px;
  margin-bottom: 30px;
}
.header__navigation li .dropdown-menu li a {
  font-family: "Frank Ruhl Libre", serif;
  color: black;
  font-size: 1.5em;
  transition: color 0.3s;
}
.header__navigation li .dropdown-menu li a:hover {
  color: orange;
}
.header__navigation li:hover .dropdown-menu {
  display: block;
}

.header__decal-links {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.header__decal-links .btn {
  margin-left: 20px;
  padding: 15px 30px;
  background-color: #c8a96a;
  border-radius: 9px;
  color: white;
  font-weight: 600;
  transition: all 0.3s;
}
.header__decal-links .btn:hover {
  background-color: rgb(255, 255, 255);
  color: #c8a96a;
}
.header__decal-links .btn i {
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.header__decal-links .header__decal {
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-left: 40px;
}
.header__decal-links .header__decal i {
  color: #c8a96a;
  font-size: 20px;
  margin: 10px;
}

.menu-toggle {
  display: none;
}

.menu-burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.menu-burger span {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 4px;
}

/*img background*/
.section__hero {
  height: 100vh;
  color: white;
  min-width: 100%;
  font-family: "Cinzel", serif;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.7), transparent), url("../images/img/slider/img_bg_slider_home01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section__hero .section_hero_img {
  position: relative;
  top: 25%;
  left: 5%;
}
.section__hero .section_hero_txt {
  position: relative;
  top: 27%;
  left: 190px;
  float: left;
}
.section__hero .section_hero_txt h1 {
  font-size: 110px;
}
.section__hero .section_hero_txt a {
  position: relative;
  top: 35px;
  color: white;
  padding: 15px 30px;
  border: 2px solid white;
  transition: all 0.3s;
  border-radius: 5px;
}
.section__hero .section_hero_txt a i {
  position: relative;
  top: 2px;
  margin-left: 15px;
  color: #c8a96a;
}
.section__hero .section_hero_txt a:hover {
  background-color: rgb(255, 255, 255);
  color: #c8a96a;
}

/*img background*/
.first_section {
  height: 100vh;
  background-image: url("../images/img/banner/imgbgcategory.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(250, 246, 240);
  background-blend-mode: multiply;
}
.first_section .first_section_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Frank Ruhl Libre", serif;
  top: 150px;
}
.first_section .first_section_txt h1 {
  margin-top: 20px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 50px;
}
.first_section .first_section_txt h1:before {
  content: "CATEGORY";
  position: absolute;
  top: -50px;
  left: 2%;
  color: rgb(209, 193, 167);
  padding: 10px 20px;
  font-size: 180px;
  letter-spacing: 2px;
  opacity: 0.25;
}
.first_section .first_section_txt p {
  margin-top: 25px;
  font-size: 20px;
}
.first_section .first_section_img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 100px;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
}
.first_section .first_section_img .img-wrapper {
  position: relative;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  padding: 25px;
  width: 150%;
  height: 200px;
  transition: ease-in-out 0.3s;
}
.first_section .first_section_img .img-wrapper:hover {
  background-color: #c8a96a;
}
.first_section .first_section_img .img-wrapper img {
  display: block;
  width: 80px; /* Ajustez la taille des images selon vos besoins */
  height: auto;
  color: orange; /* Couleur de l'image en orange */
  box-sizing: border-box;
  transition: filter 0.3s ease;
}
.first_section .first_section_img .img-wrapper.selected {
  background-color: #c8a96a;
}
.first_section .first_section_img .img-wrapper span {
  margin-top: 10px;
}

/*img background*/
.aboutus {
  height: 150vh;
}
.aboutus .aboutus__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutus .aboutus__img .aboutus__midle__image {
  width: 40%;
  position: relative;
  top: -250px;
  border: 20px solid rgb(255, 255, 255);
  border-radius: 50%;
  transition: ease 0.3s;
}
.aboutus .aboutus__img .aboutus__midle__image:hover {
  transform: translateY(-15px);
}
.aboutus .aboutus__img .aboutus__right__image {
  position: relative;
  top: -150px;
  left: 10px;
  transition: ease 0.3s;
}
.aboutus .aboutus__img .aboutus__right__image:hover {
  transform: translateY(-15px);
}
.aboutus .aboutus__img .aboutus__left__image {
  position: relative;
  top: -50px;
  right: 50px;
  transition: ease 0.3s;
}
.aboutus .aboutus__img .aboutus__left__image:hover {
  transform: translateY(-15px);
}
.aboutus .aboutus__txt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -150px;
  flex-direction: column;
  font-family: "Cinzel", serif;
}
.aboutus .aboutus__txt h1 {
  margin-top: -125px;
  font-size: 60px;
  font-weight: 100;
}
.aboutus .aboutus__txt h1:before {
  content: "ABOUT US";
  position: absolute;
  font-weight: 100;
  top: -50px;
  left: 2%;
  color: rgb(209, 193, 167);
  padding: 10px 20px;
  font-size: 180px;
  letter-spacing: 2px;
  opacity: 0.25;
}
.aboutus .aboutus__txt img {
  margin-right: -1500px;
  position: relative;
  top: 150px;
  right: 300px;
}
.aboutus .aboutus__ilustration {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutus .aboutus__ilustration img {
  position: relative;
  top: -80px;
  min-width: 20%;
}
.aboutus .aboutus__ilustration p {
  margin-top: -250px;
  margin-left: 35px;
  font-size: 20px;
  width: 400px;
  line-height: 2;
  color: gray;
}
.aboutus .aboutus__ilustration a {
  position: relative;
  top: 100px;
  right: 400px;
  display: block;
  margin-top: 10px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: #c8a96a;
  color: white;
  transition: all 0.3s;
}
.aboutus .aboutus__ilustration a:hover {
  background-color: black;
}

.ourmenu {
  height: 100vh;
  background-color: rgb(250, 246, 240);
}
.ourmenu__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  font-family: "Cinzel", serif;
}
.ourmenu__title h1 {
  margin-top: -50px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 50px;
}
.ourmenu__title h1:before {
  content: "OUR MENU";
  position: absolute;
  top: -120px;
  left: 0;
  color: rgb(209, 193, 167);
  padding: 10px 20px;
  font-size: 200px;
  letter-spacing: 20px;
  opacity: 0.25;
}
.ourmenu__img img {
  position: relative;
  top: -40px;
  width: 623px;
  float: right;
}
.ourmenu__grid {
  position: relative;
  top: 300px;
  left: 250px;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}
.ourmenu__grid article {
  width: 500px;
  height: 100px;
  background-color: white;
  padding: 10px;
  transition: all 0.2s;
  border-radius: 10px;
}
.ourmenu__grid article.active {
  border: 3px dotted #c8a96a;
}
.ourmenu__grid article:hover {
  border: 3px dotted #c8a96a;
}
.ourmenu__grid article h1,
.ourmenu__grid article p {
  margin: 10px;
}
.ourmenu__grid article h1 {
  font-size: 20px;
}
.ourmenu__grid article p {
  font-size: 20px;
}
.ourmenu__grid article .price {
  position: relative;
  top: -80px;
  font-size: 40px;
  float: right;
}

/*img background*/
.footer {
  background-image: url("../images/img/footer/img-ng-footer.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.footer__header {
  padding: 3em;
}

.footer__body {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  column-gap: 6em;
}
.footer__body__list {
  display: flex;
  flex-direction: column;
  line-height: 2.5em;
}
.footer__body__list h2 {
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-size: "Cinzel", serif;
}
.footer__body__list li, .footer__body__list p {
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
  font-size: 16px;
}
.footer__body__list #email-input {
  display: inline-block;
  width: 100%;
  margin-top: 1.5em;
  white-space: nowrap;
}
.footer__body__list #email-input input {
  width: 15em;
  height: 3rem;
  border: none;
  padding: 1em;
}
.footer__body__list #email-input button {
  position: relative;
  margin-left: -0.7em;
  height: 100%;
  width: 3rem;
  height: 3rem;
  background-color: rgb(201, 169, 105);
  border: none;
}
.footer__body__list #email-input button:hover {
  background-color: #b3b3b3;
}

.footer__legal {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  width: 70%;
  border-top: 1px solid rgba(255, 255, 255, 0.253);
  padding-top: 2em;
}
.footer__legal__text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}
.footer__legal span {
  color: rgb(201, 169, 105);
}
.footer__legal__logo {
  position: relative;
  width: 80px;
  right: 200px;
}
.footer__legal .footer__legal__list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.8em;
}
.footer__legal .footer__legal__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: rgb(67, 67, 67);
}
.footer__legal .footer__legal__list a:hover {
  color: white;
  background-color: rgb(201, 169, 105);
}

@media all and (max-width: 700px) {
  .footer {
    height: auto;
    width: 80vw;
  }
  .footer__body {
    display: flex;
    flex-direction: column;
  }
}
.footer__legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__legal__container-logo {
  position: relative;
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: 5em;
}
.footer__legal .footer__legal__logo {
  left: 0;
  right: 0;
}

/*img background*/
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.news__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -100px;
  flex-direction: column;
  font-family: "Cinzel", serif;
  width: 100%;
}
.news__title h1 {
  margin-top: 200px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 50px;
}
.news__title h1:before {
  content: "OUR BLOG";
  position: absolute;
  top: 100px;
  left: 0;
  color: rgb(209, 193, 167);
  padding: 10px 20px;
  font-size: 200px;
  opacity: 0.25;
}
.news__blog {
  max-width: 100vw;
  margin: 0 auto;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: 600px;
}
.news__blog__card {
  background-color: rgb(250, 246, 240);
}
.news__blog__card__top .people {
  width: 100%;
  object-fit: contain;
}
.news__blog__card__top .legend {
  padding-top: 1em;
  padding-left: 2em;
}
.news__blog__card__top .legend cite {
  padding-right: 50px;
}
.news__blog__card__top .legend .logo {
  width: 1em;
  height: 1em;
}
.news__blog__card__bottom {
  padding: 2em;
}
.news__blog__card__bottom p {
  font-size: 18px;
  font-weight: 200;
  line-height: 50px;
  font-family: "Cinzel", serif;
  padding-bottom: 1em;
}
.news__blog__card__bottom button {
  cursor: pointer;
  border: none;
  height: 50px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 5px;
  padding-bottom: 1em;
}
.news__blog__card__bottom button:hover {
  background-color: rgb(201, 169, 105);
  color: rgb(255, 255, 255);
}
.news .slider-area {
  padding-top: 2em;
  padding-bottom: 2em;
}
.news .slider-area__wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 180px;
  padding: 2.5rem;
  background: rgb(255, 255, 255);
}
.news .slider-area__wrapper__item {
  animation: animate 25s alternate linear infinite;
  padding-left: 2em;
}
.news .slider-area__wrapper__item:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.container:hover .news .slider-area__wrapper__item {
  animation-play-state: paused;
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1100px, 0, 0);
  }
}
@media (max-width: 1000px) {
  .news .slider-area__wrapper {
    width: 600px;
    padding: 0;
  }
}

/*img background*/
.team {
  height: 80vh;
  width: 100vw;
  background: rgb(67, 67, 67);
  background: radial-gradient(circle, rgb(67, 67, 67) 0%, rgb(0, 0, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Cinzel", serif;
  color: rgb(255, 255, 255);
  top: -4em;
  padding-bottom: 2em;
}
.team .title h1 {
  font-size: 50px;
  font-weight: 100;
}
.team .title h1:before {
  content: "OUR CHIEFS";
  position: absolute;
  font-weight: 100;
  top: -0.5em;
  left: 0%;
  color: rgb(255, 255, 255);
  font-size: 200px;
  opacity: 0.1;
}
.team__chiefs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.team__chiefs img {
  width: 20vw;
  object-fit: contain;
}

@media all and (max-width: 700px) {
  .team {
    height: 100vh;
  }
  .team__chiefs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team__chiefs img {
    width: 20vw;
  }
}
/*img background*/
.photogallery {
  margin-top: 5%;
  margin-bottom: 150px;
  height: 100%;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photogallery__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  font-family: "Cinzel", serif;
  margin-bottom: 150px;
}
.photogallery__title h1 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 50px;
}
.photogallery__title h1:before {
  content: "GALLERY";
  position: absolute;
  top: -50px;
  left: -550px;
  color: rgb(209, 193, 167);
  font-size: 200px;
  opacity: 0.25;
}
.photogallery__gallery {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 2em;
}
.photogallery__gallery img.big {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photogallery__gallery img.little {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.photogallery__gallery__img1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.photogallery__gallery__img1:hover {
  filter: brightness(60%);
  content: "salut";
}
.photogallery__gallery__img2 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.photogallery__gallery__img2:hover {
  filter: brightness(60%);
}
.photogallery__gallery__img3 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.photogallery__gallery__img3:hover {
  filter: brightness(60%);
}
.photogallery__gallery__img4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.photogallery__gallery__img4:hover {
  filter: brightness(60%);
}
.photogallery__gallery__img5 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.photogallery__gallery__img5:hover {
  filter: brightness(60%);
}
.photogallery__gallery__img6 {
  grid-column: 3/5;
  grid-row: 2/3;
}
.photogallery__gallery__img6:hover {
  filter: brightness(60%);
}
.photogallery button {
  position: relative;
  left: 0%;
  height: 50px;
  margin-top: 10px;
  padding: 15px 30px;
  border: 2px solid #b3b3b3;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(29, 29, 29);
  transition: all 0.3s;
}
.photogallery button:hover {
  border: none;
  background-color: rgb(201, 169, 105);
  color: rgb(255, 255, 255);
}

/*Mobile*/
@media only screen and (max-width: 480px) {
  .header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.448);
    backdrop-filter: blur(5px);
  }
  .header__navigation {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    padding: 20px;
  }
  .header__navigation.open {
    display: flex;
  }
  .menu-toggle:checked ~ .header__navigation {
    display: flex;
  }
  .menu-burger {
    display: flex;
    z-index: 200;
  }
  .header__decal-links {
    display: none;
  }
  .btn {
    display: none;
  }
  .first_section .first_section_txt h1 {
    width: 50px;
    position: relative;
    left: -150px;
    font-weight: 100;
    text-transform: uppercase;
  }
  .first_section .first_section_txt p {
    margin-top: 25px;
    font-size: 20px;
  }
  .section__hero .section_hero_txt {
    position: relative;
    top: 0px;
    margin-left: -100px;
  }
  .section__hero .section_hero_txt h1 {
    position: relative;
    top: 280px;
    left: -70px;
    font-size: 70px;
  }
  .section__hero .section_hero_txt a {
    top: 350px;
    left: -70px;
  }
  .first_section {
    height: 145vh;
  }
  .first_section .first_section_txt {
    position: relative;
  }
  .first_section .first_section_txt h1 {
    top: -150px;
  }
  .first_section .first_section_txt h1:before {
    display: none;
  }
  .first_section .first_section_txt p {
    position: relative;
    top: -180px;
    left: -50px;
  }
  .first_section .first_section_txt .first_section_img {
    position: relative;
    top: -180px;
    left: -30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .first_section .first_section_txt .first_section_img .img-wrapper {
    top: 0;
    padding: 15px;
  }
  .aboutus .aboutus__img .aboutus__midle__image {
    width: 70%; /* Ajustez la largeur souhaitée pour les écrans plus petits */
    top: -150px; /* Réinitialisez le positionnement top pour les écrans plus petits */
  }
  .aboutus .aboutus__img .aboutus__right__image {
    display: none;
  }
  .aboutus .aboutus__img .aboutus__left__image {
    display: none;
  }
  .aboutus .aboutus__txt h1 {
    width: 70%;
    margin: 10px;
    font-size: 50px;
    text-align: center;
  }
  .aboutus .aboutus__txt h1:before {
    display: none;
  }
  .aboutus .aboutus__txt img {
    display: none;
  }
  .aboutus .aboutus__ilustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .aboutus .aboutus__ilustration img {
    top: 0;
    width: 50%;
  }
  .aboutus .aboutus__ilustration p {
    margin-top: 20px;
    font-size: 19px;
    margin-left: 0;
    width: 80%;
  }
  .aboutus .aboutus__ilustration a {
    top: 0;
    right: 0;
    margin-top: 20px;
  }
  .ourmenu {
    height: 140vh;
  }
  .ourmenu .ourmenu__grid {
    top: 140px;
    left: 75px;
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
  }
  .ourmenu .ourmenu__grid article {
    margin-left: 30px;
    width: 360px;
    height: 100px;
  }
  .ourmenu .ourmenu__grid article h1 {
    font-size: 20px;
  }
  .ourmenu .ourmenu__grid article p {
    font-size: 15px;
  }
  .ourmenu .ourmenu__title h1 {
    position: relative;
    top: -90px;
    font-size: 25px;
  }
  .ourmenu .ourmenu__title h1:before {
    display: none;
  }
  .ourmenu .ourmenu__title p {
    position: relative;
    top: -70px;
  }
  .ourmenu .ourmenu__img {
    display: none;
  }
  .team .title h1:before {
    display: none;
  }
  .team__chiefs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team__chiefs img {
    width: 50vw;
  }
  .photogallery__title h1 {
    position: relative;
    top: 0;
  }
  .photogallery__title h1:before {
    display: none;
  }
  .news__title h1:before {
    display: none;
  }
  .news .slider-area__wrapper {
    width: 400px;
    padding: 0;
  }
}
/*@media screen and (max-width: 768px) {
    .header {
        padding: 15px 50px; // Ajuster le padding pour les tablettes
    }

    .header__navigation {
        li {
            margin: 0px 15px; //Ajuster la marge pour les tablettes
        }
    }
}*/
@media screen and (max-width: 768px) {
  .photogallery__gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 300px);
    grid-template-rows: auto;
    grid-gap: 1em;
  }
  .photogallery__gallery__title h1:before {
    font-size: 100px;
  }
  .photogallery__gallery img.big {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .photogallery__gallery img.little {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .photogallery__gallery__text__img1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .photogallery__gallery__text__img1:hover {
    filter: brightness(60%);
    content: "salut";
  }
  .photogallery__gallery__img2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .photogallery__gallery__img2:hover {
    filter: brightness(60%);
  }
  .photogallery__gallery__img3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .photogallery__gallery__img3:hover {
    filter: brightness(60%);
  }
  .photogallery__gallery__img4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .photogallery__gallery__img4:hover {
    filter: brightness(60%);
  }
  .photogallery__gallery__img5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .photogallery__gallery__img5:hover {
    filter: brightness(60%);
  }
  .photogallery__gallery__img6 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .photogallery__gallery__img6:hover {
    filter: brightness(60%);
  }
  .team img {
    width: 20vw;
  }
  .news__blog {
    max-width: 100vw;
    margin: 0 auto;
    padding: 2em 0;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 600px;
  }
  .news .slider-area__wrapper {
    width: 500px;
    padding: 0;
  }
  .footer {
    height: auto;
    width: 100vw;
  }
  .footer__body {
    display: flex;
    flex-direction: column;
  }
  .footer__legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__legal__container-logo {
    position: relative;
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: 5em;
  }
  .footer__legal .footer__legal__logo {
    left: 0;
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
